<link rel="stylesheet" type="text/css" href="/stylesheets/newpost.css">

<div class="container text-center h-100 shadow-lg p-3 mb-3 bg-white rounded">
<form method="POST" action="/editpost/{{post.id}}" id="editpostform" onsubmit="inputValidation()">
        <label><h4>Title</h4></label><br>
        <input type="text" name="title" id="title" value="{{post.title}}"><br>
        <label><h4 class="mt-2">Slug</h4></label><br>
        <input type="text" name="slug" id="slug" value="{{post.slug}}">
        <div class="mt-4 mb-0"><label><h4>Content</h4></label></div>
        <textarea name="content" form="editpostform" id="editpostcontent">{{post.content}}</textarea><br>
        <a href="/admin" class="btn btn-warning" id="publishdiscard">Discard</a>
        <input type="submit" value="Publish" id="publishbutton" class="btn btn-primary">
</form>
{{#if error}}
<h3>{{error.title}}</h3>
<h3>{{error.content}}</h3>
<h3>{{error.slug}}</h3>
{{/if}}
</div>

<script type="text/javascript">
        function inputValidation() {
                const inputs = document.querySelector('#editpostform');
                if(!inputs.title.value) {
                        event.preventDefault();
                        const titleAlreadyError = document.getElementById('title-required');
                        if(titleAlreadyError) {
                                return;
                        }
                        inputs.title.placeholder = 'Title is required!';
                        const titleReq = document.createElement("h3");
                        titleReq.setAttribute("id","title-required");
                        titleReq.innerText = 'Title is required!';
                        inputs.append(titleReq);
                }

                if(!inputs.content.value) {
                        event.preventDefault();
                        const contentAlreadyError = document.getElementById('content-required');
                        if(contentAlreadyError) {
                                return;
                        }
                        inputs.content.placeholder = 'Content is required!';
                        const contentReq = document.createElement("h3");
                        contentReq.setAttribute("id","content-required");
                        contentReq.innerText = 'Content is required!';
                        inputs.append(contentReq);
                }

                const slug = inputs.slug.value.split(' ').join('-');
                if(!slug.match(/^[0-9a-z.\-]+$/)) {
                        event.preventDefault();
                        const slugAlreadyError = document.getElementById('invalid-slug');
                        if(slugAlreadyError) {
                                return;
                        }
                        const invalidSlug = document.createElement("h3");
                        invalidSlug.setAttribute("id","invalid-slug");
                        invalidSlug.innerText = 'Invalid slug, only alphanumeric characters without accents and numbers are required!'
                        inputs.append(invalidSlug);
                }
        }
</script>
